@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #bfdbfe;
  color: #f9fafb;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #1f2937;
    color: #f3f4f6;
  }
}
